.main {
    width: 70%;
    min-height: 60vh;
    border: solid red 2px;
    /* Centering the box */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* centering the content, aka the button,inside of the box */
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    /* getting rid of the underline */
    text-decoration: none;
    color: #efefef;
    background: #161724;
    /* making button bigger */
    padding: 2.5rem 5rem;
    /* rounder border */
    border-radius: 1.3rem;
    position: relative;
}
a::after { 
    content: "";
    display: block;
    /* Setting width and height to 100% creates a shape
    that is the same size as its parent */
    width: 100%;
    height: 100%;
    background: #fa01fd;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 1.3rem;
    color: #efefef;
}
a::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #00f7f6;
    left: 0;
    top: 0;
    z-index: -1;
    border-radius: 1.3rem;
}